html, body {
    font-family: sans-serif;
    margin: 0px;
    height: 100%
    
}

.menu {
    background-color: black;
    min-height: 100%;
    display: block;
    width: 13%;
    float: left;
}

.menu .link {
    display: block;
    padding-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #0091ea;
}

.menu #logo {
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 90%
}

.articolo1 {
    background-image: url(img/wallpaper1.jpg);
    background-position: center;
    height: 50%;
    width: 29%;
    float: left;
}

.articolo2 {
    background-image: url(img/wallpaper2.jpg);
    background-position: center center;
    height: 50%;
    width: 29%;
    float: left;
   
}

.articolo3 {
    background-image: url(img/wallpaper3.jpeg);
    background-position: center center;
    height: 50%;
    width: 29%;
    float: left;
}

.articolo4 {
    background-image: url(img/wallpaper4.jpg);
    background-position:top;
    height: 50%;
    width: 29%;
    float: left;
}

.articolo5 {
    background-image: url(img/wallpaper5.jpg);
    background-position: center;
    height: 50%;
    width: 29%;
    float: left;
}

.articolo6 {
    background-image:url(img/wallpaper6.jpg);
    background-position: center center;
    height: 50%;
    width: 29%;
    float: left;
}

 .articoli a{
    color: white;
    text-decoration: none;
     text-transform: capitalize;
     letter-spacing: 1px;
     margin-left: 10%;
     margin-right: 10%;
     font-size: 30px;
     font-weight: 900;
     text-shadow: 0 0 19px black;
     display: block;
     margin-top: 50%;
}

.author {
    color: #0091ea;
    font-weight: 900;
}

p {
    color: white;
    margin-left: 10%;
    text-shadow: 0 0 19px black;
    display: block;
}


